services:
  postgres:
    image: postgres:15
    container_name: postgres
    env_file: .env
    restart: always
    volumes:
      - ./postgres:/docker-entrypoint-initdb.d
    ports:
      - "${POSTGRES_PORT}:5432"
  
  zookeeper:
    image: zookeeper:3.9
    container_name: zookeeper
    restart: unless-stopped
    env_file: .env
    ports:
      - "${ZOOKEEPER_PORT}:2181"
  kafka:
    image: apache/kafka:3.7.1 
    container_name: kafka
    env_file: .env
    restart: unless-stopped
    ports:
      - "${KAFKA_PORT}:9092"
    depends_on:
      - zookeeper