site_name: Event Driven Inventory Docs
# site_url: https://<YOUR_GITHUB_USERNAME>.github.io/<YOUR_REPO_NAME>/
# repo_url: https://github.com/<YOUR_GITHUB_USERNAME>/<YOUR_REPO_NAME>
# repo_name: GitHub

theme:
  name: material
  language: en
  palette:
    scheme: slate
    primary: indigo
    accent: cyan
  features:
    - navigation.instant
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
    - toc.integrate

plugins:
  - search
  # - git-revision-date-localized:
      # fallback_to_build_date: true
  # - git-authors
  - minify:
      minify_html: true

nav:
  - Overview: index.md
  - Architecture: architecture.md
  - Services & Ports: services.md
  - API Endpoints: api.md
